<div class="row">
 

</div>

<div class="row">
  <div class="col-sm-6 col-lg-3" *ngFor="let productcard of productcards">
    <mat-card class="cardWithShadow productcard overflow-hidden">
      <a [routerLink]="productcard.route" class="d-flex align-items-center justify-content-center">
        <img
          src="{{ productcard.imgSrc }}"
          alt="imgSrc"
          class="w-100"
          mat-card-image
          style="width: 200px; height: 200px;"
        />
      </a>
      <mat-card-content class="p-b-24 p-t-12 position-relative  text-center">
        
        <mat-card-title class="mat-headline-2 f-s-16 m-b-4">{{
          productcard.title
        }}</mat-card-title>
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            
          </div>
          
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
